<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home_page.css') }}" />
		<script src="../static/scrpits/home_page.js"></script>
		<title>ReadMe</title>
	</head>
	<body>
		<div style="position: fixed; z-index: 5;"></div>
		<div class="left-half-background"></div>
		<div class="right-half-background"></div>
		<div class="mid-page-border">
			<div class="mid-page-container">
				<div class="nav-bar">
					<div style="padding-left: -10%;">
						<button class="styled-button">
							<img alt="svg image" src="../static/images/bookshelf-svgrepo-com.svg">
						</button>
					</div>
					<div class="home-button">
						<button class="styled-button">
							<img alt="home button" src="../static/images/home-2-svgrepo-com.svg">
						</button>
					</div>
					<div class="tags-button">
						<button class="styled-button" onclick="toggleShadow()">
							<img alt="tags-button" src="../static/images/book-blank-svgrepo-com.svg">
						</button>
					</div>
					<div class="timer-button">
						<button class="styled-button">
							<img alt="watch image" src="../static/images/chronometer-svgrepo-com.svg">
						</button>
					</div>
					<div class="settings-icon">
						<button class="styled-button">
							<img alt="settings icon" src="../static/images/settings-gear-configuration-svgrepo-com.svg">
						</button>
					</div>
				</div>
				<div class="horizontal-line">
				</div>
				<div style="display: flex; flex-direction:column; width: 90%">
					<div style="display: flex; flex-direction:row; width: 100%; background-color:transparent">	
						<div style="margin-top: 2%; margin-left: 2%; background-color:transparent; height:fit-content; width: 40%;">
							<input id="search-box" placeholder="Search for books..."/>
							<h1 style="font-family: Andale Mono, monospace; font-size: 45px; margin-top: 8%">
								Keep the story going..
							</h1>
							<p style="font-size: larger; font-weight: 500;">
								Don't let the story end just yet. Continue investing your time and immerse yourself in the world of literature.
							</p>
						</div>
						<div style="width: 35%; margin-left: calc(20% - 30px);margin-right:30px; margin-top:2%; background-color: transparent">
						
							{% if  books|length == 0%}
							<h1>no author selected</h1>
							{% else %}
							<h2><img src="../static/images/{%set book_first = books|first%}{{book_first.author_img_path}}" alt="author img" style="max-width: 50px;"/>
							{{book_first.author}}
							</h2>
							<p style="text-wrap:wrap;">
								{{book_first.author_summary}} 
							</p>
								{% endif %}

						</div>
					</div>
						<div class="gallery">
							<div class="images">


							{%if  books|length == 0 %}
							<div><h1> no books found </h1></div>
							{% else %}
								{%for book in books%}
								<div>
									<a href='http://127.0.0.1:5000/books/{{book.name}}'>
										<img src="../static/images/{{book.cover_img_path}}" alt="Image 1">
									</a>
									<p>{{(book.name).split('.pdf')[0]}}</p>
								</div>
								{% endfor %}
								{% endif %}
								<!--<img src="../static/images/test_image.jpeg" alt="Image 2">
								<img src="../static/images/test_image.jpeg" alt="Image 3">
								<img src="../static/images/test_image.jpeg" alt="Image 3">
								<img src="../static/images/test_image.jpeg" alt="Image 3">
								<img src="../static/images/test_image.jpeg" alt="Image 3">
								<img src="../static/images/test_image.jpeg" alt="Image 3">-->
								<!-- Add more images as needed -->
							</div>
						</div>
				</div>
			</div>
		</div>
	</body>
</html>
