html, body {
	height: 100%;
}

body {
	margin: 0;
    padding: 0;
	display: flex;
	justify-content: center; /* Center horizontally */
}

div.right-half-background {
	flex: 0 0 60%;
	position: relative;
	z-index: 0;
	background-color: rgb(200 197 188); /* #CEC5B3 *//*rgb(240 238 226)*/
	/*height: 100vw;*/
}

div.left-half-background {
	flex: 0 0 40%;
	position: relative;
	z-index: 0;
	background-color:rgb(215 212 205); /*#DADAB7*//*rgb(253 252 247)*/
	/*height:  100vw;*/
}

div.mid-page-border {
	/*justify-content: center; /* Center horizontally */
	/*align-items: center; /* Center vertically */
	position: absolute;
    width: 90%;
    height: 90%;
    margin: 3% auto;
	background: linear-gradient(to left, rgb(213 212 205) 61.1%, rgb(228 225 218) 61.1%); /*#EEDDBF - #DADAB7*/
	z-index: 1;
	border-radius: 11px;
}

div.mid-page-container {
	/*justify-content: center; /* Center horizontally */
    /*align-items: center; /* Center vertically */
	position: absolute;
	display: flex;
	flex-direction: row;
    width: 99%;
    height: 98%;
    margin: 0.55% 0.5%;
	background: linear-gradient(to left, #F0EEE2 61.2%, #FDFCF7 61.2%); /*#EEDDBF - #DADAB7*/
	z-index: 2;
	border-radius: 5px;
}

button.styled-button {
	display: inline-block;
    cursor: pointer;
    border: none;
    background: none;
	border-radius: 50%;
	transition: transform 0.3s ease;
	overflow: hidden;
	position: relative; /* Add position relative */
    z-index: 1;
	height: 70px;
	width: 70px;
}

button.styled-button:hover {
	transform: scale(1.1);
}

/* Pseudo-element for the shadow effect */
.styled-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Shadow color */
    border-radius: 50%;
    transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease; /* Smooth transition */
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
}

/* Shadow effect on click */
.styled-button.clicked::before {
    width: 100%; /* Adjust the width and height to cover the button */
    height: 100%;
	opacity: 1;
}

.home-button {
	padding-top: 200%;
	margin-left: -2.5px;
}

div.nav-bar{
	display: flex;
	flex-direction: column;
	padding: 1.5% 1%;
	min-width: 4.3%;
	overflow: hidden;
}

div.horizontal-line {
	background-color: #ecebe6;/*ecebe6*/
	height: 90%;
	min-width: 4px;
	margin-top: 2.5%;
	margin-left: 0%;
	border-radius: 20%;
}

div.tags-button {
	margin-top: 40%;
}

div.timer-button {
	margin-top: 40%;
}

div.settings-icon {
	margin-top: 300%;
}

div #search-box {
	border: none;
	width: 50%;
	height: 20px;
	background-color: transparent;
}

.gallery {
    width: 100%;
    overflow-x: scroll;
	overflow-y: hidden;
    white-space: nowrap;
	background-color: transparent
}

.images {
	margin-top: 100px;
    display: inline-flex;
	height: 500px;
	margin-left: 50px;
	max-width: 100%;
}

.images img {
    width: 200px; /* Adjust the width of each image */
    height: 300px;
    margin: 0 50px; /* Adjust the margin between images */
    transition: transform 0.3s ease; /* Smooth transition */
	box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.3);
}

.images img:hover {
    transform: scale(1.5); /* Zoom effect on hover */
	box-shadow: -15px 20px 40px rgba(0, 0, 0, 0.5);
}

.images img.magnified {
    transform: scale(1.2); /* Magnified image */
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
